*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(vlcsnap-2024-08-17-20h26m19s756.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}
.menu{
    background: rgb(0, 100, 0);
    text-align: center;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu ul  li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu ul li:hover{
    background-color: greenyellow;
    width: 55px;
}
.sub1{
    display: none;
}
.menu ul li:hover .sub1{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu ul li:hover .sub1 ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .sub1 li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 00px;
    text-align: left;
}
.menu ul li:hover .sub1 li:last-child{
    border-bottom: none;
}
.fa-angle-right{
    float: right;
}
.sub2{
    display: none;
}
.over-me:hover .sub2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0, 100, 0);
}